YNAB_API_TOKEN=""
YNAB_BUDGET_ID=""
MCP_AUTH_TOKEN=""

WARERA_API_KEY=""
NOVA_PH_BOT_DISCORD_TOKEN=""
NOVA_PH_BOT_GUILD_IDS=""
NOVA_PH_BOT_LINK_CHANNEL_IDS=""
NOVA_PH_BOT_ADMIN_ROLE_IDS=""
NOVA_PH_BOT_OWNER_ID=""
NOVA_PH_BOT_SCAN_ALERT_CHANNEL_ID=""

HOYOLAB_DISCORD_BOT_DISCORD_TOKEN=""
HOYOLAB_DISCORD_BOT_GUILD_IDS=""
HOYOLAB_DISCORD_BOT_ADMIN_USER_IDS=""