TZ="Asia/Manila"
IP_ADDRESS="192.168.0.10"
PUID="99"
PGID="100"
UMASK="000"
DOMAIN_NAME=""
NETWORK_NAME=""
APP_DATA="/mnt/user/appdata"
DATA="/mnt/user/data"
REMOTE1_DATA="/mnt/addons/seedbox1"
DEFAULT_APP_USERNAME=""
DEFAULT_APP_PASSWORD=""
SESSION_SECRET=""
ENCRYPTION_KEY=""
DISCORD_ID=""
DISCORD_TOKEN=""