RADARR_API_KEY=""
SONARR_API_KEY=""
LIDARR_API_KEY=""
PROWLARR_API_KEY=""
SPOTIFY_API_KEY=""
SPOTIFY_SECRET_KEY=""
SOULSEEK_USERNAME=""
SOULSEEK_PASSWORD=""
SLSKD_API_KEY=""
PIA_USERNAME=""
PIA_PASSWORD=""
PIA_REGION=""